$color-primary: #065f56;
$color-secondary: #FFEB3B;
$cd-dot: #0E397F;
$size: 1vh;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;
@mixin btn-menu {
    display: inline-block;
    height: 40rem;
    width: 20rem;
    text-align: center;
    margin-right: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: medium;
}


html{
    font-size: 62.5%;
}
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}
.haut{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bas{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    display: block;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 4rem;
    font-weight: bold;
    height: 6rem;
    text-align: center;
    font-family: 'roboto_condensedbold_italic';
        src: url('RobotoCondensed-BoldItalic-webfont.eot');
        src: url('RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('RobotoCondensed-BoldItalic-webfont.woff2') format('woff2'),
             url('RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
             url('RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
             url('RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
        font-weight: normal;
        font-style: normal;
}
.btn_note{
    background-color: #FFCDD2;
    margin-right: 10rem;
    cursor: pointer;
    text-align: center;
    width: 30rem;
    line-height: 2rem;
    vertical-align: middle;
}
.btn_note p a{
    text-decoration: none;
}
.btn_chic{
    background-color: #FFEBEE;
    width: 30rem;
    margin-left: 10rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
}
.btn_chic p a{
    text-decoration: none;
}
.btn_delice {
    background-color: #E3F2FD;
    margin-right: 10rem;
    cursor: pointer;
    text-align: center;
    width: 30rem;
    line-height: 2rem;
    vertical-align: middle;
}
.btn_delice p a{
    text-decoration: none;
}
.btn_gout{
    background-color: #FAFAFA;
    margin-right: 10rem;
    cursor: pointer;
    text-align: center;
    width: 30rem;
    line-height: 2rem;
    vertical-align: middle;
}
.btn_gout p a{
    text-decoration: none;
}
.btn{
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius:1rem;
    -moz-border-radius:1rem;
    -webkit-border-radius:1rem;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 4rem;
    width: 25rem;
    margin-bottom: 10rem;
        &_loading{
            font-size: 2rem;
            text-align: center;
    }
}   
.dot1 {
    animation: visibility 3s linear infinite;
     }
    @keyframes visibility {
    0% {
     opacity: 1;
    }
    65% {
    opacity: 1;
    }
    66% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
    }
.dot2 {
    animation: visibility2 3s linear infinite;
    }
    @keyframes visibility2 {
    0% {
    opacity: 0;
    }
    21% {
    opacity: 0;
    }
    22% {
    opacity: 1;
    }
    65% {
    opacity: 1;
    }
    66% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
    }
.dot3 {
    animation: visibility3 3s linear infinite;
    }
     @keyframes visibility3 {
    0% {
    opacity: 0;
    }
    43% {
    opacity: 0;
    }
    44% {
    opacity: 1;
    }
    65% {
    opacity: 1;
    }
    66% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
}
footer{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-primary;
    font-size: 1.5rem;
 }
.mention{
    padding-left: 2rem;
    font-family: sans-serif;
        &:hover{
            animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
        }
}
.contact{
    padding-right: 2rem;
    font-family: sans-serif;
        &:hover{
            animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
        }
}
.mention a, .contact a{
    text-decoration: none;
    color: $color-secondary;
}
@keyframes headshake {
    25% {
        transform: translateX(1%);
    }
    75% {
        transform: translateX(1% * -1);
    }
}