$color-primary: #065f56;
$color-secondary: #FFEB3B;
$cd-dot: #0E397F;
$size: 1vh;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;
@mixin btn-menu {
    display: inline-block;
    margin-right: 10rem;
    cursor: pointer;
    text-align: center;
    height: 40rem;
    width: 30rem;
    line-height: 2rem;
    font-size: 2rem;
    opacity: 1;
    transition: opacity 250ms; 
    transform: scale(1);
    transition: transform 400ms;
        & :hover{
        opacity: 0.8;
        transform: scale(1.5);
    }
}


html{
    font-size: 62.5%;
}
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}
.haut, .bas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}
header{
    display: block;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 4rem;
    font-weight: bold;
    height: 6rem;
    text-align: center;
    font-family: 'roboto_condensedbold_italic';
        src: url('RobotoCondensed-BoldItalic-webfont.eot');
        src: url('RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('RobotoCondensed-BoldItalic-webfont.woff2') format('woff2'),
             url('RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
             url('RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
             url('RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
        font-weight: normal;
        font-style: normal;
}
.btn_note{
    background-color: #FFCDD2;
    @include btn-menu;
}
.btn_note p a{
    text-decoration: none;
    font-family: 'devroyeregular';
    src: url('DEVROYE_-webfont.eot');
    src: url('DEVROYE_-webfont.eot?#iefix') format('embedded-opentype'),
         url('DEVROYE_-webfont.woff2') format('woff2'),
         url('DEVROYE_-webfont.woff') format('woff'),
         url('DEVROYE_-webfont.ttf') format('truetype'),
         url('DEVROYE_-webfont.svg#devroyeregular') format('svg');
    font-weight: bold;
    font-style: normal;
    color: #795548;    
}
.btn_chic{
    background-color: #FFEBEE;
    @include btn-menu;
}
.btn_chic p a{
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    color: -webkit-linear-gradient(85deg,#ff3500 20%, #ff00ee 80%);
    color: -moz-linear-gradient(85deg,#ff3500 20%, #ff00ee 80%); 
}
.btn_delice {
    background-color: #E3F2FD;
    @include btn-menu;
}
.btn_delice p a{
    text-decoration: none;
}
.btn_gout{
    background-color: #E0F7FA;
    @include btn-menu;
}
.btn_gout p a{
    text-decoration: none;
}
.btn{
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius:1rem;
    -moz-border-radius:1rem;
    -webkit-border-radius:1rem;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 4rem;
    width: 25rem;
    margin-bottom: 10rem;
        &_loading{
            font-size: 2rem;
            text-align: center;
    }
}   
.dot1 {
    animation: visibility 2s linear infinite both;
     }
    @keyframes visibility {
    0% {
     opacity: 1;
    }
    65% {
    opacity: 1;
    }
    66% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
    }
.dot2 {
    animation: visibility2 2s linear infinite both;
    }
    @keyframes visibility2 {
    0% {
    opacity: 0;
    }
    21% {
    opacity: 0;
    }
    22% {
    opacity: 1;
    }
    65% {
    opacity: 1;
    }
    66% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
    }
.dot3 {
    animation: visibility3 2s linear infinite both;
    }
     @keyframes visibility3 {
    0% {
    opacity: 0;
    }
    43% {
    opacity: 0;
    }
    44% {
    opacity: 1;
    }
    65% {
    opacity: 1;
    }
    66% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
}
footer{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-primary;
    font-size: 1.5rem;
 }
.mention{
    padding-left: 2rem;
    font-family: sans-serif;
        &:hover{
            animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
        }
}
.contact{
    padding-right: 2rem;
    font-family: sans-serif;
        &:hover{
            animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
        }
}
.mention a, .contact a{
    text-decoration: none;
    color: $color-secondary;
}
@keyframes headshake {
    25% {
        transform: translateX(1%);
    }
    75% {
        transform: translateX(1% * -1);
    }
}

        //page Menu 1

section{
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
}        
h1, h2, .tete, .pied{
    text-align: center;
    font-size: 2rem;
    color: firebrick;
}
.prelude, .point, .mouvement{
    display: inline-block;
    
}
.plat, .prix{
    display: inline-block;
    line-height: 3rem;
    font-size: 1.5rem;
}
.prix{
    text-align: right;
    margin-left: 1rem;
}
.pied{
    margin-bottom: 10rem;
}