@charset "UTF-8";
@font-face {
  font-family: "roboto_condensedbold_italic";
  src: url("RobotoCondensed-BoldItalic-webfont.eot");
  src: url("RobotoCondensed-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("RobotoCondensed-BoldItalic-webfont.woff2") format("woff2"), url("RobotoCondensed-BoldItalic-webfont.woff") format("woff"), url("RobotoCondensed-BoldItalic-webfont.ttf") format("truetype"), url("RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("Roboto-Light-webfont.eot");
  src: url("Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Light-webfont.woff2") format("woff2"), url("Roboto-Light-webfont.woff") format("woff"), url("Roboto-Light-webfont.ttf") format("truetype"), url("Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "croissant_oneregular";
  src: url("croissantone-regular-webfont.woff2") format("woff2"), url("croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amitaregular";
  src: url("amita-regular-webfont.woff2") format("woff2"), url("amita-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("kaushanscript-regular-webfont.woff2") format("woff2"), url("kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "titilliumitalic";
  src: url("titillium-regularitalic-webfont.woff2") format("woff2"), url("titillium-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.haut {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .haut {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}
@media screen and (max-width: 1024px) {
  .bas {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
  }
}

header h1 {
  background-color: #579c87;
  color: #fdcb46;
  font-size: 4rem;
  font-weight: bold;
  height: 6rem;
  text-align: center;
  font-family: "roboto_condensedbold_italic";
  margin-top: 0;
}
@media screen and (max-width: 1024px) {
  header h1 {
    display: block;
    width: 100%;
  }
}

.btn_note {
  background: #fcdfdb;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_note:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .btn_note {
    margin-bottom: 4rem;
    width: 40rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 450px) {
  .btn_note {
    width: 25rem;
  }
}

.btn_note p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
}
.btn_note p:hover {
  transform: scale(1.5);
}

.btn_note p a {
  text-decoration: none;
  font-family: "comic sans ms";
  font-weight: bold;
  font-style: normal;
  color: #3d1319;
}

.carte_note {
  text-transform: uppercase;
}

.btn_chic {
  background: #fff5fe;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_chic:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .btn_chic {
    width: 40rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 450px) {
  .btn_chic {
    width: 25rem;
  }
}

.btn_chic p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
  font-family: "croissant_oneregular";
}
.btn_chic p:hover {
  transform: scale(1.5);
}

.chic {
  text-decoration: none;
  background: -webkit-linear-gradient(156deg, #e0881d 26%, #924cf9 78%);
  background: -o-linear-gradient(156deg, #e0881d 26%, #924cf9 78%);
  background: -moz-linear-gradient(156deg, #e0881d 26%, #924cf9 78%);
  background: linear-gradient(156deg, #e0881d 26%, #924cf9 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carte_chic {
  color: #c77412;
  text-decoration: none;
  font-size: 3rem;
}

.btn_delice {
  background: #f9f9f9;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_delice:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .btn_delice {
    margin-bottom: 4rem;
    width: 40rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 450px) {
  .btn_delice {
    width: 25rem;
  }
}

.btn_delice p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
  font-family: "amitaregular";
}
.btn_delice p:hover {
  transform: scale(1.5);
}

.delice {
  text-decoration: none;
  background: -webkit-linear-gradient(156deg, #1b4ce4 48%, #0889fb 61%);
  background: -o-linear-gradient(156deg, #1b4ce4 48%, #0889fb 61%);
  background: -moz-linear-gradient(156deg, #1b4ce4 48%, #0889fb 61%);
  background: linear-gradient(156deg, #1b4ce4 48%, #0889fb 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: bold;
}

.carte_delice {
  color: #0887fb;
  text-decoration: none;
  font-size: 3rem;
}

.btn_gout {
  background: #fdfffd;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_gout:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .btn_gout {
    width: 40rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 450px) {
  .btn_gout {
    width: 25rem;
  }
}

.btn_gout p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
  font-family: "kaushan_scriptregular";
}
.btn_gout p:hover {
  transform: scale(1.5);
}

.gout {
  text-decoration: none;
  background: -webkit-linear-gradient(151deg, #41963c 41%, #beff7f 78%);
  background: -o-linear-gradient(151deg, #41963c 41%, #beff7f 78%);
  background: -moz-linear-gradient(151deg, #41963c 41%, #beff7f 78%);
  background: linear-gradient(151deg, #41963c 41%, #beff7f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: bold;
}

.carte_gout {
  color: #72bf56;
  text-decoration: none;
  font-size: 3rem;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  margin-left: 40%;
  margin-right: 50%;
  margin-top: 4rem;
  width: 25rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1024px) {
  .btn {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width: 20rem;
  }
}

.loader {
  text-align: center;
  margin-left: 2rem;
}

.loader > div {
  width: 5px;
  height: 5px;
  background-color: #fdcb46;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: loading 1.4s infinite ease-in-out both;
  animation: loading 1.4s infinite ease-in-out both;
}

.loader .dot1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader .dot2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes loading {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes loading {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.pied_de_page {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #579c87;
  font-size: 1.5rem;
}
@media screen and (max-width: 400px) {
  .pied_de_page {
    width: 100%;
  }
}

.mention {
  padding-left: 2rem;
  font-family: sans-serif;
}
.mention:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}

.contact {
  padding-right: 2rem;
  font-family: sans-serif;
}
.contact:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}

.mention a, .contact a {
  text-decoration: none;
  color: #fdcb46;
}

@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
img {
  display: block;
  width: 90rem;
  height: 5rem;
}

.acceuil {
  display: block;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 4rem;
  font-weight: bold;
  height: 6rem;
  text-align: center;
  font-family: "roboto_condensedbold_italic";
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .acceuil {
    display: block;
    width: 100%;
  }
}

.menu1 {
  text-align: center;
  background-color: #fcdfdb;
  margin-top: 2rem;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
}
@media screen and (max-width: 1024px) {
  .menu1 {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 2rem;
    margin-top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
@media screen and (max-width: 650px) {
  .menu1 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 350px) {
  .menu1 {
    text-align: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

h2, .menu1 p {
  text-align: center;
  font-size: 2rem;
  color: #3d1319;
}

h3 {
  font-size: 2rem;
  color: #3d1319;
}

.menu1 p, footer {
  font-weight: bold;
}

img {
  width: 30rem;
  height: 2rem;
  margin-top: 7rem;
}
@media screen and (max-width: 1024px) {
  img {
    width: 15rem;
    height: 1rem;
  }
}
@media screen and (max-width: 550px) {
  img {
    width: 8rem;
    height: 1rem;
  }
}
@media screen and (max-width: 350px) {
  img {
    width: 2rem;
    height: 0.5rem;
  }
}

.element_decor, h3 {
  display: flex;
  justify-content: space-between;
}

h3, h4, h5 {
  margin-top: 6rem;
  cursor: pointer;
  background: linear-gradient(to top, #B71C1C 0%, #B71C1C 10%, transparent 10.01%) no-repeat;
  transition: background-size 2s;
  background-size: 0% 100%;
}

h3:hover {
  background-size: 100% 100%;
}

.fas {
  background: #f05561;
  background: linear-gradient(90deg, #f05561 0%, #f26b64 31%, #f6916a 100%);
  background: -moz-linear-gradient(90deg, #f05561 0%, #f26b64 31%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  h2 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}

.prelude, .point, .mouvement {
  display: inline-block;
}

.plat, .prix {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
}
@media screen and (max-width: 1024px) {
  .plat, .prix {
    font-size: 1.6rem;
    font-family: "titilliumitalic";
    padding-top: 1.2rem;
  }
}
@media screen and (max-width: 550px) {
  .plat, .prix {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .plat, .prix {
    font-size: 1.2rem;
    margin-right: 0.1rem;
  }
}

.prix {
  text-align: right;
  margin-left: 3rem;
}
@media screen and (max-width: 1024px) {
  .prix {
    margin-left: 2rem;
    font-family: "titilliumitalic";
    font-weight: bold;
  }
}
@media screen and (max-width: 550px) {
  .prix {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 350px) {
  .prix {
    margin-left: 0.1rem;
    line-height: 6rem;
  }
}

.plat {
  margin-right: 10rem;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .plat {
    margin-right: 1rem;
    font-family: "titilliumitalic";
  }
}
@media screen and (max-width: 350px) {
  .plat {
    width: 85%;
    line-height: 3rem;
  }
}

footer .fas {
  margin-right: 2rem;
  margin-bottom: 10rem;
  margin-top: 6rem;
}

.menu2 {
  text-align: center;
  background-color: #fff5fe;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
}
@media screen and (max-width: 1024px) {
  .menu2 {
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 2rem;
    margin-top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
@media screen and (max-width: 650px) {
  .menu2 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .menu2 {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0;
  }
}

.titre_chic {
  text-align: center;
  font-size: 2rem;
  background: -webkit-linear-gradient(156deg, #e0881d 26%, #924cf9 78%);
  background: -o-linear-gradient(156deg, #e0881d 26%, #924cf9 78%);
  background: -moz-linear-gradient(156deg, #e0881d 26%, #924cf9 78%);
  background: linear-gradient(156deg, #e0881d 26%, #924cf9 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titre_appetit {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
  position: relative;
  cursor: pointer;
  color: #c67412;
  background: linear-gradient(to top, #B71C1C 0%, #B71C1C 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 2s;
  background-size: 0% 100%;
}

.plat_appetit {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  color: #c67412;
  margin-right: 20rem;
}
@media screen and (max-width: 1024px) {
  .plat_appetit {
    font-size: 1.6rem;
    font-family: "titilliumitalic";
    padding-top: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .plat_appetit {
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 350px) {
  .plat_appetit {
    font-size: 1.2rem;
    padding: 0;
  }
}

.prix_appetit {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  color: #c67412;
}
@media screen and (max-width: 1024px) {
  .prix_appetit {
    margin-left: 2rem;
    font-family: "titilliumitalic";
    font-weight: bold;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 550px) {
  .prix_appetit {
    margin-left: 2rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .prix_appetit {
    font-size: 1.2rem;
  }
}

.titre_papilles {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
  position: relative;
  cursor: pointer;
  color: #a56799;
  background: linear-gradient(to top, #B71C1C 0%, #B71C1C 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 2s;
  background-size: 0% 100%;
}

.plat_papilles {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 4rem;
  color: #a56799;
}
@media screen and (max-width: 1024px) {
  .plat_papilles {
    font-size: 1.6rem;
    font-family: "titilliumitalic";
    padding-top: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .plat_papilles {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .plat_papilles {
    font-size: 1.2rem;
    padding: 0;
    width: 80%;
    line-height: 5rem;
  }
}

.prix_papilles {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  color: #a56799;
}
@media screen and (max-width: 1024px) {
  .prix_papilles {
    margin-left: 2rem;
    font-family: "titilliumitalic";
    font-weight: bold;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 550px) {
  .prix_papilles {
    margin-left: 0.1rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .prix_papilles {
    font-size: 1.2rem;
    margin: 0;
    line-height: 10rem;
  }
}

.titre_sucrée {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
  position: relative;
  cursor: pointer;
  color: #6e4ccc;
  background: linear-gradient(to top, #B71C1C 0%, #B71C1C 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 2s;
  background-size: 0% 100%;
}

.plat_sucrée {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 22rem;
  color: #6e4ccc;
}
@media screen and (max-width: 1024px) {
  .plat_sucrée {
    font-size: 1.6rem;
    font-family: "titilliumitalic";
    padding-top: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .plat_sucrée {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .plat_sucrée {
    font-size: 1.2rem;
  }
}

.titre_appetit:hover, .titre_papilles:hover, .titre_sucrée:hover {
  background-size: 100% 100%;
}

.menu3 {
  text-align: center;
  background-color: #edefef;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
}
@media screen and (max-width: 1024px) {
  .menu3 {
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    padding-top: 2rem;
    margin-top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
@media screen and (max-width: 650px) {
  .menu3 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .menu3 {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0;
  }
}

.plat_terminer {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 34rem;
}
@media screen and (max-width: 1024px) {
  .plat_terminer {
    font-size: 1.6rem;
    font-family: "titilliumitalic";
    padding-top: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .plat_terminer {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .plat_terminer {
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-left: 0.1rem;
    line-height: 6rem;
  }
}

.plat_commencer {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 3rem;
}
@media screen and (max-width: 1024px) {
  .plat_commencer {
    font-size: 1.6rem;
    font-family: "titilliumitalic";
    padding-top: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .plat_commencer {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .plat_commencer {
    font-size: 1.2rem;
    width: 80%;
  }
}

.plat_continuer {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 3rem;
}
@media screen and (max-width: 1024px) {
  .plat_continuer {
    font-size: 1.6rem;
    font-family: "titilliumitalic";
    padding-top: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .plat_continuer {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .plat_continuer {
    font-size: 1.2rem;
    width: 80%;
    line-height: 6rem;
  }
}
@media screen and (max-width: 300px) {
  .plat_continuer {
    line-height: 4rem;
  }
}

.menu4 {
  text-align: center;
  background-color: #fdfffd;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
}
@media screen and (max-width: 1024px) {
  .menu4 {
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    padding-top: 2rem;
    margin-top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
@media screen and (max-width: 600px) {
  .menu4 {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .menu4 {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0;
  }
}

.plat_esquisse {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 12rem;
}
@media screen and (max-width: 1024px) {
  .plat_esquisse {
    font-size: 1.6rem;
    font-family: "titilliumitalic";
    padding-top: 2rem;
    margin-right: 8rem;
  }
}
@media screen and (max-width: 550px) {
  .plat_esquisse {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .plat_esquisse {
    font-size: 1.2rem;
    margin: 0;
    width: 85%;
    line-height: 5rem;
  }
}
@media screen and (max-width: 300px) {
  .plat_esquisse {
    line-height: 4rem;
  }
}

.prix_esquisse {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
}
@media screen and (max-width: 1024px) {
  .prix_esquisse {
    margin-left: 2rem;
    font-family: "titilliumitalic";
    font-weight: bold;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 550px) {
  .prix_esquisse {
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .prix_esquisse {
    margin-left: 0.1rem;
    line-height: 5rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 300px) {
  .prix_esquisse {
    line-height: 6.5rem;
  }
}

.plat_maître {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 2rem;
}
@media screen and (max-width: 1024px) {
  .plat_maître {
    font-size: 1.6rem;
    font-family: "titilliumitalic";
    padding-top: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .plat_maître {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .plat_maître {
    font-size: 1.2rem;
    margin: 0;
    width: 85%;
    line-height: 3rem;
  }
}

.plat_art {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 4rem;
}
@media screen and (max-width: 1024px) {
  .plat_art {
    font-size: 1.6rem;
    font-family: "titilliumitalic";
    padding-top: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .plat_art {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .plat_art {
    font-size: 1.2rem;
    margin: 0;
    width: 85%;
    line-height: 5rem;
  }
}
@media screen and (max-width: 300px) {
  .plat_art {
    line-height: 3.5rem;
  }
}

.prix_art {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
}
@media screen and (max-width: 1024px) {
  .prix_art {
    margin-left: 2rem;
    font-family: "titilliumitalic";
    font-weight: bold;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 550px) {
  .prix_art {
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .prix_art {
    margin-left: 0.1rem;
    line-height: 7rem;
    font-size: 1.2rem;
  }
}

.menu4 h2 {
  background: -webkit-linear-gradient(151deg, #41963c 41%, #beff7f 78%);
  background: -o-linear-gradient(151deg, #41963c 41%, #beff7f 78%);
  background: -moz-linear-gradient(151deg, #41963c 41%, #beff7f 78%);
  background: linear-gradient(151deg, #41963c 41%, #beff7f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: bold;
}

.menu4 h3, .menu3 h3 {
  color: black;
  font-style: italic;
}

.menu3 h2 {
  background: -webkit-linear-gradient(156deg, #1b4ce4 48%, #0889fb 61%);
  background: -o-linear-gradient(156deg, #1b4ce4 48%, #0889fb 61%);
  background: -moz-linear-gradient(156deg, #1b4ce4 48%, #0889fb 61%);
  background: linear-gradient(156deg, #1b4ce4 48%, #0889fb 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
