@charset "UTF-8";
@font-face {
  font-family: "roboto_condensedbold_italic";
  src: url("RobotoCondensed-BoldItalic-webfont.eot");
  src: url("RobotoCondensed-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("RobotoCondensed-BoldItalic-webfont.woff2") format("woff2"), url("RobotoCondensed-BoldItalic-webfont.woff") format("woff"), url("RobotoCondensed-BoldItalic-webfont.ttf") format("truetype"), url("RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

.haut, .bas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}
@media screen and (max-width: 1024px) {
  .haut, .bas {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
  }
}

header {
  display: block;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 4rem;
  font-weight: bold;
  height: 6rem;
  text-align: center;
  font-family: "roboto_condensedbold_italic";
}
@media screen and (max-width: 1024px) {
  header {
    display: block;
    width: 100%;
  }
}

.btn_note {
  background: #fcdfdb;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_note:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .btn_note {
    margin-bottom: 4rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn_note p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
}
.btn_note p:hover {
  transform: scale(1.5);
}

.btn_note p a {
  text-decoration: none;
  font-family: "comic sans ms";
  font-weight: bold;
  font-style: normal;
  color: #3d1319;
}

.carte_note {
  text-transform: uppercase;
}

.btn_chic {
  background: #fff5fe;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_chic:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .btn_chic {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn_chic p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
}
.btn_chic p:hover {
  transform: scale(1.5);
}

.chic {
  text-decoration: none;
  font-family: Arial, sans-serif;
  background: #924cf9;
  background: linear-gradient(325deg, #924cf9 30%, #e0881d 93%);
  background: -moz-linear-gradient(325deg, #924cf9 30%, #e0881d 93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carte_chic {
  color: #c77412;
  text-decoration: none;
  font-size: 3rem;
}

.btn_delice {
  background: #f9f9f9;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_delice:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .btn_delice {
    margin-bottom: 4rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn_delice p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
}
.btn_delice p:hover {
  transform: scale(1.5);
}

.delice {
  text-decoration: none;
  background: #1b4ce4;
  background: linear-gradient(90deg, #1b4ce4 35%, #0889fb 54%);
  background: -moz-linear-gradient(90deg, #1b4ce4 35%, #0889fb 54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.carte_delice {
  color: #0887fb;
  text-decoration: none;
  font-size: 3rem;
}

.btn_gout {
  background: #fdfffd;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_gout:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .btn_gout {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn_gout p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
}
.btn_gout p:hover {
  transform: scale(1.5);
}

.gout {
  text-decoration: none;
  background: #41963c;
  background: linear-gradient(90deg, #41963c 23%, #beff7f 84%);
  background: -moz-linear-gradient(90deg, #41963c 23%, #beff7f 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.carte_gout {
  color: #72bf56;
  text-decoration: none;
  font-size: 3rem;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  margin-left: 40%;
  margin-right: 50%;
  margin-top: 4rem;
  width: 25rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1024px) {
  .btn {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width: 20rem;
  }
}

.loader {
  text-align: center;
  margin-left: 2rem;
}

.loader > div {
  width: 5px;
  height: 5px;
  background-color: #fdcb46;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: loading 1.4s infinite ease-in-out both;
  animation: loading 1.4s infinite ease-in-out both;
}

.loader .dot1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader .dot2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes loading {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes loading {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
footer {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #579c87;
  font-size: 1.5rem;
}

.mention {
  padding-left: 2rem;
  font-family: sans-serif;
}
.mention:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}

.contact {
  padding-right: 2rem;
  font-family: sans-serif;
}
.contact:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}

.mention a, .contact a {
  text-decoration: none;
  color: #fdcb46;
}

@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
img {
  display: block;
  width: 90rem;
  height: 5rem;
}

.acceuil {
  display: block;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 4rem;
  font-weight: bold;
  height: 6rem;
  text-align: center;
  font-family: "roboto_condensedbold_italic";
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .acceuil {
    display: block;
    width: 100%;
  }
}

.menu1 {
  text-align: center;
  background-color: #fcdfdb;
  margin-top: 2rem;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
}
@media screen and (max-width: 1024px) {
  .menu1 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

h1, h2, .header, .footer {
  text-align: center;
  font-size: 2rem;
  color: #3d1319;
}

.header, .footer {
  font-weight: bold;
}

h2, h3, h4 {
  margin-top: 6rem;
  position: relative;
  cursor: pointer;
  background: linear-gradient(to top, #B71C1C 0%, #B71C1C 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 2s;
  background-size: 0% 100%;
}

h2:hover {
  background-size: 100% 100%;
}

.fas {
  background: #f05561;
  background: linear-gradient(90deg, #f05561 0%, #f26b64 31%, #f6916a 100%);
  background: -moz-linear-gradient(90deg, #f05561 0%, #f26b64 31%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
}

.prelude, .point, .mouvement {
  display: inline-block;
}

.plat, .prix {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
}
@media screen and (max-width: 1024px) {
  .plat, .prix {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.prix {
  text-align: right;
  margin-left: 3rem;
}
@media screen and (max-width: 1024px) {
  .prix {
    margin-left: 1rem;
  }
}

.plat {
  margin-right: 10rem;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .plat {
    margin-right: 2rem;
  }
}

.footer {
  margin-bottom: 10rem;
  margin-top: 6rem;
}

.footer .fas {
  margin-right: 2rem;
}

.menu2 {
  text-align: center;
  background-color: #fff5fe;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
}
@media screen and (max-width: 1024px) {
  .menu2 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.titre_chic {
  background: #924cf9;
  background: linear-gradient(325deg, #924cf9 20%, #e0881d 93%);
  background: -moz-linear-gradient(325deg, #924cf9 20%, #e0881d 93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titre_appetit {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
  position: relative;
  cursor: pointer;
  color: #c67412;
  background: linear-gradient(to top, #B71C1C 0%, #B71C1C 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 2s;
  background-size: 0% 100%;
}

.plat_appetit {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  color: #c67412;
  margin-right: 20rem;
}
@media screen and (max-width: 1024px) {
  .plat_appetit {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.prix_appetit {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  color: #c67412;
}
@media screen and (max-width: 1024px) {
  .prix_appetit {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.titre_papilles {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
  position: relative;
  cursor: pointer;
  color: #a56799;
  background: linear-gradient(to top, #B71C1C 0%, #B71C1C 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 2s;
  background-size: 0% 100%;
}

.plat_papilles {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 4rem;
  color: #a56799;
}
@media screen and (max-width: 1024px) {
  .plat_papilles {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.prix_papilles {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  color: #a56799;
}
@media screen and (max-width: 1024px) {
  .prix_papilles {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.titre_sucrée {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
  position: relative;
  cursor: pointer;
  color: #6e4ccc;
  background: linear-gradient(to top, #B71C1C 0%, #B71C1C 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 2s;
  background-size: 0% 100%;
}

.plat_sucrée {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 22rem;
  color: #6e4ccc;
}
@media screen and (max-width: 1024px) {
  .plat_sucrée {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.titre_appetit:hover, .titre_papilles:hover, .titre_sucrée:hover {
  background-size: 100% 100%;
}

.menu3 {
  text-align: center;
  background-color: #edefef;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
}
@media screen and (max-width: 1024px) {
  .menu3 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.plat_terminer {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 34rem;
}
@media screen and (max-width: 1024px) {
  .plat_terminer {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.plat_commencer {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 3rem;
}
@media screen and (max-width: 1024px) {
  .plat_commencer {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.menu4 {
  text-align: center;
  background-color: #fdfffd;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
}
@media screen and (max-width: 1024px) {
  .menu4 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.plat_esquisse {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 12rem;
}
@media screen and (max-width: 1024px) {
  .plat_esquisse {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.plat_maître {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 2rem;
}
@media screen and (max-width: 1024px) {
  .plat_maître {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.plat_art {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 4rem;
}
@media screen and (max-width: 1024px) {
  .plat_art {
    font-size: 0.9rem;
    display: inline-block;
  }
}

.menu4 > h1 {
  color: #34C924;
}

.menu4 > h2, .menu3 > h2 {
  color: black;
  font-style: italic;
}

.menu3 > h1 {
  color: #0770e0;
}

/*# sourceMappingURL=style.css.map */
