@charset "UTF-8";
html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

.haut, .bas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

header {
  display: block;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 4rem;
  font-weight: bold;
  height: 6rem;
  text-align: center;
  font-family: "roboto_condensedbold_italic";
  src: url("RobotoCondensed-BoldItalic-webfont.eot");
  src: url("RobotoCondensed-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("RobotoCondensed-BoldItalic-webfont.woff2") format("woff2"), url("RobotoCondensed-BoldItalic-webfont.woff") format("woff"), url("RobotoCondensed-BoldItalic-webfont.ttf") format("truetype"), url("RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

.btn_note {
  background: #fcdfdb;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_note:hover {
  opacity: 0.5;
}

.btn_note p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
}
.btn_note p:hover {
  transform: scale(1.5);
}

.btn_note p a {
  text-decoration: none;
  font-family: "comic sans ms";
  font-weight: bold;
  font-style: normal;
  color: #381002;
}

.btn_chic {
  background: #fff5fe;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_chic:hover {
  opacity: 0.5;
}

.btn_chic p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
}
.btn_chic p:hover {
  transform: scale(1.5);
}

.btn_chic p a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  background: #df560f;
  background: linear-gradient(90deg, #df560f 20%, #3211c5 55%);
  background: -webkit-linear-gradient(90deg, #df560f 20%, #3211c5 55%);
  background: -moz-linear-gradient(90deg, #df560f 20%, #3211c5 55%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn_delice {
  background: #f9f9f9;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_delice:hover {
  opacity: 0.5;
}

.btn_delice p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
}
.btn_delice p:hover {
  transform: scale(1.5);
}

.btn_delice p a {
  text-decoration: none;
  color: #0770e0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn_gout {
  background: #fdfffd;
  display: flex;
  margin-right: 10rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 30rem;
  line-height: 2rem;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn_gout:hover {
  opacity: 0.5;
}

.btn_gout p {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
}
.btn_gout p:hover {
  transform: scale(1.5);
}

.btn_gout p a {
  text-decoration: none;
  color: #34C924;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  margin-left: 40%;
  margin-right: 50%;
  margin-top: 4rem;
  width: 25rem;
  margin-bottom: 10rem;
}

.loader {
  text-align: center;
  margin-left: 2rem;
}

.loader > div {
  width: 10px;
  height: 10px;
  background-color: #fdcb46;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: loading 1.4s infinite ease-in-out both;
  animation: loading 1.4s infinite ease-in-out both;
}

.loader .dot1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader .dot2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes loading {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes loading {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
footer {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #579c87;
  font-size: 1.5rem;
}

.mention {
  padding-left: 2rem;
  font-family: sans-serif;
}
.mention:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}

.contact {
  padding-right: 2rem;
  font-family: sans-serif;
}
.contact:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}

.mention a, .contact a {
  text-decoration: none;
  color: #fdcb46;
}

@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
.menu1 {
  text-align: center;
  background-color: #FFCDD2;
  margin-top: 2rem;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
}

h1, h2, .header, .footer {
  text-align: center;
  font-size: 2rem;
  color: #3b0101;
}

.header, .footer {
  font-weight: bold;
}

h2 {
  margin-top: 6rem;
  position: relative;
  cursor: pointer;
  background: linear-gradient(to top, #B71C1C 0%, #B71C1C 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 2s;
  background-size: 0% 100%;
}

h2:hover {
  background-size: 100% 100%;
}

.fas {
  color: coral;
}

h1 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
}

.prelude, .point, .mouvement {
  display: inline-block;
}

.plat, .prix {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
}

.plat_esquisse {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 33rem;
}

.plat_terminer {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 46rem;
}

.plat_appetit {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  color: #df560f;
  margin-right: 20rem;
}

.prix_appetit {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  color: #DF560F;
}

.plat_papilles {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 4rem;
  color: #5f27be;
}

.prix_papilles {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  color: #5f27be;
}

.plat_sucrée {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 22rem;
  color: #20078f;
}

.plat_commencer {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  text-align: left;
  margin-right: 18rem;
}

.prix {
  text-align: right;
  margin-left: 3rem;
}

.plat {
  margin-right: 24rem;
  text-align: left;
}

.pied {
  margin-bottom: 10rem;
  margin-top: 6rem;
}

.pied .fas {
  margin-right: 2rem;
}

.menu2 {
  text-align: center;
  background-color: #fdf2f4;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
}

.menu2 > h1 {
  background: #df560f;
  background: linear-gradient(90deg, #df560f 20%, #3211c5 55%);
  background: -webkit-linear-gradient(90deg, #df560f 20%, #3211c5 55%);
  background: -moz-linear-gradient(90deg, #df560f 20%, #3211c5 55%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.menu3 {
  text-align: center;
  background-color: #e7f3fa;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
}

.menu4 {
  text-align: center;
  background-color: #FAFAFA;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Helvetica, Arial;
  padding-left: 10rem;
  padding-right: 10rem;
}

.menu4 > h1 {
  color: #34C924;
}

.menu4 > h2, .menu3 > h2 {
  color: black;
  font-style: italic;
}

.menu3 > h1 {
  color: #0770e0;
}

/*# sourceMappingURL=style.css.map */
